{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": true
    },
    "paths": {
      "assets/*": ["src/assets/*"],
      "components/*": ["src/components/*"],
      "pages/*": ["src/pages/*"],
      "src/*": ["src/*"]
    },
    "target": "es2016"
  }
}
