.home {
  text-align: center;
}

.home-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .home-logo {
    animation: home-logo-spin infinite 20s linear;
  }
}

.home-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-title {
  font-size: 32px;
  font-family: "monospace", sans-serif;
  color: yellow;
}

.home-text {
  font-size: 14px;
  font-family: "monospace", sans-serif;
  color: lightgrey;
}

@keyframes home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
